ckpts/
*/*.npy
*/__pycache__/
__pycache__/
__pycache__/*.pyc
*/__pycache__/*.pyc
*/*.ipynb_checkpoints/
*/*.idea/
*/*.vscode/

*losses/tensors/
*losses/tensors/*.npy
*losses/tensor2/
*losses/tensor2/*.npy
*.npy 


model_dir/
pretrained_ckpts/

*.ipynb
*.pyc
losses/tensors/*.pickle

model_dir_2/
model_dir_multi_scale_2/

*.pickle
test/
losses/test/