`myreadme.md
ckpts/
*/*.npy
*/__pycache__/
*/*.ipynb_checkpoints/
*/*.idea/
*/*.vscode/

losses/tensors/
losses/tensors/*.npy
losses/tensor2/
losses/tensor2/*.npy
*.npy 


model_dir/
pretrained_ckpts/

*.pyc
losses/tensors/*.pickle

model_dir_2/
model_dir_multi_scale_2/

__pycache__/

*.npy

*.pickle
test/
losses/test/